<h1 class="center">Apocolypse Map</h1>

<!-- <div id="floating-panel">
  <button onclick="toggleHeatmap()">Toggle Heatmap</button>
</div> -->
<div id="map" class="container"></div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb-Z-1WIuMpit1K4lnZiziGQeJMOJ8MTw&callback=initMap">
</script>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">
</script>
