<h1 class="center">Practice makes perfect...</h1>

<p class="site-font center">Credit to: http://www.wonder-tonic.com/zombie/</p>
<div id="game-div" class="container">
  <iframe src="http://www.wonder-tonic.com/zombie/" id="game-iframe" scrolling="no"></iframe>
</div>
