<div class="container rules-card center row">
  <div class="zombie-font col s1">
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
  </div>
  <div class="col s10">
    <h1 id="rules-header">e  THE RULES  e</h1>
    <p>
      hi
    </p>
    <p>
      hi
    </p>
    <p>
      hi
    </p>
    <p>
      hi
    </p>
    <p>
      hi
    </p>
  </div>
  <div class="zombie-font col s1">
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
  </div>
</div>
