<div class="container rules-card center row">
  <div class="zombie-font col s1">
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
  </div>
  <div class="col s1">
    <p></p>
  </div>
  <div class="col s8">
    <h1 class="rules-header">e  THE RULES  e</h1><br>
    <div>
      <h5 id="rules-item">1. Cardio</h5>
      <p id="rules-body">To escape a pursuing zombie you will need to out-run
        it, and this means being in good shape.</p>
      <br>
      <h5 id="rules-item">2. Double Tab</h5>
      <p id="rules-body">When in doubt, don't get stingy with your bullets.</p>
      <br>
      <h5 id="rules-item">3. Beware of Bathrooms</h5>
      <p id="rules-body">You are at your most vulnerable while sitting on the
        toilet, so always take extra care.</p>
      <br>
      <h5 id="rules-item">4. Buckle Up</h5>
      <p id="rules-body">You won't be driving along easy roads anymore: with
        numerous things to avoid you need to be ready for a crash!</p>
      <br>
      <h5 id="rules-item">5. Travel Light</h5>
      <p id="rules-body">While trying to get away from a mass of zombies, the
        last thing you want is to be heaving luggage around.</p>
      <br>
      <h5 id="rules-item">6. Don't Be A Hero</h5>
      <p id="rules-body">Possibly the most important rule of all. Don't risk
        your own life just to make yourself look good.</p>
      <br>
      <h5 id="rules-item">7. Limber Up</h5>
      <p id="rules-body">Before going into a zombie-fested aread, you will need
        to prepare for the impending running by limbering up.</p>
      <br>
      <h5 id="rules-item">8. When In Doubt, Always Know Your Way Out</h5>
      <p id="rules-body">You will always need to know the way out of every room
        of every building you enter, in case you are caught unaware.</p>
      <br>
      <h5 id="rules-item">9. The Buddy System</h5>
      <p id="rules-body">You can't always look in front of you and behind you
        at the same time.</p>
      <br>
      <h5 id="rules-item">10. Check The Back Seat</h5>
      <p id="rules-body">Before getting into the car and driving off, check the
        back seat for any hiding zombies.</p>
      <br>
      <h5 id="rules-item">11. Enjoy The Little Things</h5>
      <p id="rules-body">As well as surviving all the zombies, you'll also need
        to maintain a happy and sane state of mind by keeping positive.</p>
      <br>
      <h5 id="rules-item">Unspoken Rule.. Don't Scare Survivors</h5>
      <p id="rules-body">Never scare another survivor (especially if they have
        a gun) and especially don't dress up as a zombie without informing ALL
        those around you...</p>
      <br>
    </div>
  </div>
  <div class="col s1">
    <p></p>
  </div>
  <div class="zombie-font col s1">
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
    <p>q</p>
  </div>
</div>
