 /* Nav Bar */

.nav-wrapper {
  background-color: rgb(36, 3, 6);
}

.nav-wrapper li{
  padding-right: 20px;
  font-family: "Special Elite";
}

a.brand-logo {
  padding-left: 20px;
  font-family: "Special Elite";
}

 /* Items Page (Items#Index, Categories#Show) */

/* Categories Side Bar */

.categories-side-bar {
  border: 1px dotted black;
  height: 600px;
  font-family: "Special Elite";
}

/* Items Section */

.items {
  padding: 10px;
}

#add-to-duffel-btn {
  margin-left: 16px;
}


 /* Item Cards */

.card {
  width: 250px;
  display: inline-block;
  margin: 10px;
}

/*Background*/

body {
  background-image: url(cracked_paper.jpg);
  background-position: -200px -20px;
}

#index-header {
  font-family: "Special Elite"
}
