/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require material_icons
 */

@font-face {
  font-family: "Survival Horror";
  src: url("/assets/survival_horror.ttf");
}

/* Headers */
h1 {
  font-size: 2.5em;
    font-family: "Special Elite";
}

h3 {
  font-family: "Special Elite";
}

.warning-header {
  float: left;
}

/* Nav Bar */

.nav-wrapper {
  background-color: rgb(36, 3, 6);
}

.nav-wrapper li{
  padding-right: 20px;
  font-family: "Special Elite";
}

a.brand-logo {
  padding-left: 20px;
  font-family: "Special Elite";
}

.dropdown-content {
  background-color: rgb(36, 3, 6);
}

.dropdown-content li a{
  color: white;
}

.menu-icon {
  position: relative;
  left: -20px;
}

.side-nav {
  background-color: rgba(0, 0, 0, .6);
}

.side-nav a {
  color: rgba(219, 211, 202, 1);
}

.side-nav a:hover {
  color: black;
}

/* Categories Side Bar */

.categories-side-bar {
  height: 600px;
  font-family: "Special Elite";
  display: block;
  margin-top: 40px;
}

.category-link {
  width: 220px;
  height: 50px;
  margin-top: 20px;
  padding-top: 6px;
}

.category-link a {
}

.first-link {
  margin-top: 40px;
}

  /* Items Section */

.card-title a {
  color: rgb(36, 3, 6);
}

.items-column {
  padding: 10px;
}

.items-container {
  margin: 0 auto;
  padding-left: 50px;
}

.index-h1 {
  font-size: 2.2em;
}

  /* Item Cards */

.card {
  width: 250px;
  height: 320px;
  display: inline-block;
  margin: 10px;
  background-color: rgba(219, 211, 202, .6)
}

.card-image {
  margin: 10px;
}

.card-image img {
  width: 180px;
  height: 180px;
}

.item-title {
  font-size: 1.1em;
}

.item-title a:hover {
  color: rgb(36, 3, 6);
}

.site-font {
  font-family: "Special Elite";
}

.add-to-duffel a{
  margin-top: 10px;
}


/* Duffel & Individual Past Order */

.cart-image img, .order-image img {
  height: 100px;
  width: 100px;
}

.duffel-table {
    background-color: rgba(219, 211, 202, .6);
}

.checkout {
  margin-left: 72%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.table-headers {
  font-family: "Special Elite";
  font-size: 1.3em;
}

.item-header {
  padding-left: 50px;
}

.quantity-button {
  padding: 0px 10px;
  position: relative;
  top: 3px;
  color: black;
}

.remove-button {
  position: relative;
  top: 3px;
  color: black;
}

.item-count {
  margin: 0px 5px;
  position: relative;
  left: 9px;
}

#subtotal {
  font-weight: bold;
  font-size: 1.2em;
}

/*Forms*/

#login-form, #user-form, #item-form {
  background-color: rgba(219, 211, 202, .6);
  font-family: "Special Elite";
  font-weight: bold;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.submit-btn {
  padding: 10px;
  margin: 5px;
}

.form-text {
  color: black;
  font-size: 1.2em;
}

#user-form label,
#login-form label,
#item-form label {
  color: black;
}
.dropdown-content li span {
  color: white;
}
.dropdown-content li span:hover {
  color: black;
}

#required-field {
  font-family: "Special Elite";
  font-weight: bold;
  width: 50%;
  font-size: .9em
}

/*Item Show*/

#item-show {
  background-color: rgba(219, 211, 202, .6);
  padding: 15px;
  margin-top: 100px;
}

#item-show img{
  width: 75%;
  padding-top: 15px;
}
/*Flash Notices*/

.flashes {
  font-family: "Special Elite";
  font-weight: bold;
  font-size: 1.6em;

  background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}

/*User Dashboard*/

.user-card {
  padding-top: 15px;
  width: 400px;
  height: 500px;
  margin: 10px auto;
  background-color: rgba(219, 211, 202, .6);
  font-family: "Special Elite";
  font-weight: bold;
  font-size: 1.4em;
}

.dashboard-header {
  margin-bottom: 50px;
}

.user-name {
  font-family: "Special Elite";
  font-weight: bold;
  font-size: 1.8em;
}

.edit-profile-button {
  margin-top: 100px;
}

/*Individual Past Order*/

.order-item-table {
    background-color: rgba(219, 211, 202, .6);
}

.order-item-title, .item-subtotal, .order-subtotal, .item-price, .order-item-quantity {
  font-family: "Special Elite";
  font-weight: bold;
  font-size: 1.4em;
  color: black;
}

#status-label {
  position: relative;
  bottom: -4px;
}

/*All Past Orders*/

.order-date, .order-price {
  font-family: "Special Elite";
  font-weight: bold;
  font-size: 1.8em;
}

.button {
  font-family: "Special Elite";
  font-weight: bold;
  font-size: 1.2em;
}

/* Map */

html, body { height: 100%; margin: 0; padding: 0; }

#map-canvas { height: 300px; }


/* Login */

.create-acct {
  font-size: 1.5em;
}

.create-acct a {
  padding-top:4px;
}

/*Rules Page*/

.rules-card {
  padding-top: 25px;
  width: 80%;
  height: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(219, 211, 202, .6);
  font-family: "Special Elite";
  font-weight: bold;
  font-size: 1.4em;
}

.zombie-font {
  font-family: "Survival Horror";
  font-size: 3em;
}

.rules-header {
  font-family: "Survival Horror";
  font-size: 96px;
}

#rules-body {
  font-family: "Playfair Display SC", cursive;
  color: rgb(139, 0, 0);
}

#rules-item {
  font-family: "Playfair Display SC", cursive;
  color: rgb(128, 0, 0);
  font-weight: bold;
  font-size: 1.6em;
}
